<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management</title>
    <link rel="stylesheet" href="../public/style.css">
    <!-- Font Awesome CDN for icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <style>
        /* Global styles */

    </style>
</head>
<body>
    <h1>Project Management</h1>
    <form action="/addData" method="post">
        <input type="text" name="name" placeholder="Enter Your Project Name" required>
        <button type="submit">Submit</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Project</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% project.map((e, i) => { %>
                <tr>
                    <td><%= e.id %></td>
                    <td><%= e.name %></td>
                    <td class="action-buttons">
                        <a href="/editData/<%= e.id %>">
                            <button><i class="fas fa-edit"></i></button> <!-- Edit Icon -->
                        </a>
                        <a href="/deleteData?id=<%= e.id %>">
                            <button><i class="fas fa-trash-alt"></i></button> <!-- Delete Icon -->
                        </a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>